.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif;
    font-size: 48px;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}

.post h1 a {
    color: #000000;
}

.post-form-blog textarea {
    width:100%;
}

.post-form-blog .btn-primary {
    float: right;
}

.top-menu, .top-menu:hover {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}
